<div class="col-sm-12 col-md-12 col-lg-6 text-center">
    <h4>{{title}}</h4>
    <img class="portImg" src={{photo_url}} alt= />
    <div class="row gallery">
        <div class="col-12">
            <h5>Description</h5>
            <p>{{description}}</p>
        </div>
        <div class="col-12">
            <h5>Project Technologies</h5>
            <p>{{tech}}</p>
            <a href={{github_url}} target="_blank">View on
                Github</a>
            <a href={{deployed_url}} target="_blank">View
                Deployed App</a>
        </div>
    </div>
</div>